/* -------------------------------- Theme Styles Page --------------------------------*/

/* Theme for Start Screen */
body.bar-theme {
	background-image: url("../images/bar.jpg");
}

.jumbotron.bar-theme {
	opacity: .95;
	background-color: #ff8888;
	margin-top: 20px;
}

/* Theme for Biology Category */
body.biology-theme {
	background-image: url("../images/fern.jpg");
}

.jumbotron.biology-theme {
	opacity: .92;
	background-color: #88ff88;
	margin-top: 20px;
}
/* Theme for Universe Category */
body.universe-theme {
	background-image: url("../images/stars.jpg");
}

.jumbotron.universe-theme {
	opacity: .90;
	background-color: #8888ff;
	margin-top: 20px;
}
/* Theme for Geography Category */
body.geography-theme {
	background-image: url("../images/canyon.jpg");
}

.jumbotron.geography-theme {
	opacity: .90;
	background-color: #aa9988;
	margin-top: 20px;
}
/* Theme for History Category */
body.history-theme {
	background-image: url("../images/castle.jpg");
}

.jumbotron.history-theme {
	opacity: .90;
	background-color: #9999bb;
	margin-top: 20px;
}
/* Theme for Math Category */
body.math-theme {
	background-image: url("../images/hexagons.jpg");
}

.jumbotron.math-theme {
	opacity: .90;
	background-color: #ccbb88;
	margin-top: 20px;
}